DB_NAME=# Имя базы данных
DB_USER=# Имя пользователя базы данных
DB_PASSWORD=# Пароль пользователя базы данных

PRIVATE_KEY_PATH=# Сгенерированный приватный ключ
PUBLIC_KEY_PATH=# Сгенерированный публичный ключ на основе приватного